* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============
=== FORM ===
============ */

.form-banner img {
  height: 100%;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* 
header */

.header {
  background-color: rd;
}

#tuplogo {
  height: 5%;
  width: 5%;
  border-radius: 100%;
}


/* Homepage LeftSideBar */
/* Sidebar.css */
.sidebar {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ea3b3b, #ea3b3b);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(216, 61, 61);
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #000000;
  /* Link color */
  transition: color 0.3s ease;
  /* Smooth color transition */
}

.sidebar a:hover {
  color: #fff;
  /* Hover color */
}



.main-content {
  margin-left: 240px;
  /* Increase margin for a better separation */
  padding: 20px;
  background-color: #fff;
  /* Add background color for contrast */
  border-radius: 10px;
  /* Add border-radius for a rounded look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add box-shadow for depth */
}

/* ////////////////////////
/////MDB HOMEPAGE///////
//////////////////////// */

.custom-homepage {
  background-color: #f2f2f2;
  padding-top: 20px;
}

.custom-content {
  margin-top: 20px;
}

.custom-card-column {
  margin-bottom: 20px;
}

.custom-card-title {
  color: #333;
  font-size: 24px;
}

.custom-card-description {
  color: #666;
}

.custom-image {
  margin-top: 20px;
}

/*Loader*/
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation is linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #000000 !important;
  color: white !important;
}

.navbar-brand {
  background-color: #000000 !important;
  color: white !important;
}